@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --f400: 'N400';
    --m-color: #FFFFFF;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.form-select {
    display: block;
    width: max-content;
}

/* menu */

.menu {
    background: #313131;
}

.menu__gps {
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--m-color);
    height: 50px;
}

.btn {
    background: #313131 !important;
    border-color: #313131 !important;
    box-shadow: #313131 !important;
    
}

.dropdown-menu {
    background: #FFFFFF !important;
    width: max-content !important;
    margin-top: 6px !important;
}

.number i {
    margin-right: 7.5px;
    margin-left: 79.5px;
}

.contact {
    color: var(--m-color);
    margin-right: 32.5px;
}

.menu__end {
    display: flex;
    align-items: center;
    margin-right: 41.5px;
}

.menu__end i {
    margin-right: 7.5px;
}

.menu__end-2 {
    display: flex;
    align-items: center;
}

.menu__end-2 i {
    margin-right: 7.5px;
}

/* nav */

.nav {
    height: 100px;
    align-items: center;
}

.nav__info {
    display: flex;
}

.nav__img {
    margin-right: 143px;
}

.form-control {
    display: flex;
    align-items: center;
    width: 630px;
    height: 50px;
    color: #BBBBBB;
}

.search-btn {
    background: #313131;
    color: var(--m-color);
    border: solid white;
    font-family: var(--f400);
    font-size: 14px;
    line-height: 19px;
    width: max-content;
    width: 190px;
    height: 50px;
}

.nav__title {
    margin-bottom: 0;
    text-align: center;
    height: 30px;
}

.search {
    margin-right: 5px;
}

.nav__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10px;

}

.nav__menu-link {
    font-family: var(--f400);
    font-size: 18px;
    color: #313131;
    margin: 15px;
}

.navigatsion {
    display: flex;
    justify-content: center;
}

.dropdown-btn {
    background: #FFFFFF !important;
    color: #313131 !important;
    border-color: #313131 !important;
    box-shadow: #FFFFFF !important;
    margin: 0 10px;
    border: #FFFFFF !important;
}

/* .dropdown-btn:hover {
    color: #ED8E00 !important;
}

.dropdown-btn::after {
    content: '' !important;
    width: 0;
    height: 2px;
    background: #ED8E00;
    display: inline-block;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    bottom: 0;
    transition: 250ms;
}

.dropdown-btn:hover::after {
    width: 100%;
} */